<p>
	<ul>
		<li>First Name: <%= userprofile.firstname %></li>
		<li>Last Name: <%= userprofile.lastname %></li>
		<li>Nick Name: <%= userprofile.nickname.blank? ? "N/A" : userprofile.nickname %></li>
		<!-- <li>Address: <%= userprofile.full_address %></li> !-->
	</ul>
</p>