<h1>Full Profile for <%= @userprofile.name_full %></h1>

<%= render 'userprofile_basic_info', :userprofile => @userprofile%>


<% if signed_in_user? %>
	<% if @userprofile.id == current_user.id %>
		<p><%= link_to "Edit Profile", edit_userprofile_path(current_user.userprofile) %></p>
	<% end %>
<% end %>
