<div class="hero-unit">
	<h1>Welcome, <%= @user.userprofile.name %>!</h1>
	<p>You are making a difference.</p>
</div>

<div class="row">
	
	<div class="span5">
		<h2>Building the Community</h2>
		<p>Every year hundreds of thousands of college students enter a new city for the first time to declare their adulthood. Many choices await college freshmen as they set out to establish legacy. Will I party? Will I make lots of friends? Will I join a student group/fraternity? Will I study?</p>
		<p>And as a student goes through the endless list of decisions they have to make, it is the mission of The College Project to guide students to opportunities to impact their local community during their time in college. Imagine if every young, active college student actively sought out to help their local community to help those in need.</p>
	</div>
	
	<div class="span5">
		<h2>Volunteer</h2>
		<p>How can I get involved? There are local Community Building Organizations (CBOs) that The College Project works with to identify local opportunities. By partnering with these CBOs, you in turn have the ability to click their icon on the "Local Map" page or search for them in the "CBOs" tab.. Whether it be from mentoring some younger students in the area, packaging toys for the less fortunate, or by just picking up trash with your friends, every local community needs volunteers!</p>
		<p>This website is dedicated to getting the right volunteers to the places in the city that need help. Explore the opportunities and click away to get started.</p>
	</div>
		
	<div class="span5">
		<h2>You</h2>
		<p>In a society today where college is becoming a necessity rather than an advantage, there needs to be a point where you stand out against the crowd. The College Project is not only dedicated to building the immediate community but is committed to building you. The site gives you the opportunity to volunteer and change lives in hopes of broadening your horizon and giving you the tools to be the leader the next generation. </p>
		<p>Believe with us to change this world as we believe in you.</p>	
	</div>
	
</div>






