<h1>New Opportunity</h1>

<%= form_for(@opportunity) do |opportunity_form| %>
	<%= render 'shared/error_messages', :object => opportunity_form.object %>
	<%= render 'fields', :opportunity_form => opportunity_form %>


	<div class="actions">
		<%= opportunity_form.submit "Create" %>
	</div>
<% end %>