<fieldset>
	<legend>Category Information</legend>
	<div class="clearfix">
		<%= category_form.label :name, :class => "xlInput" %>
		<div class="input">
			<%= category_form.text_field :name, :class => "xlarge" %>
		</div>
	</div>
	
	<div class="clearfix">
		<%= category_form.label :description, :class => "xlInput" %>
		<div class="input">
			<%= category_form.text_field :description, :class => "xlarge" %>
		</div>
	</div>
	
	
</fieldset>