<p>
	<ul>
		<li>Name: <%= community.name %></li>
		<li>Address: <%= community.full_address %></li>
		<li>Latitude: <%= community.latitude %></li>
		<li>Longitude: <%= community.longitude %></li>
	</ul>
</p>