<h1>Edit a Community</h1>

<%= form_for @community, :html => { :multipart => true } do |community_form| %>
	<%= render 'shared/error_messages', :object => community_form.object %>
	<%= render 'fields', :community_form => community_form %>
	
	
	<div class="actions">
		<%= community_form.submit "Update Community", :class => "btn primary" %>
	</div>
	
<% end %>