<div class="page-header">
	<h1>My Communities</h1>
</div>




<% if !current_user.communities.empty? %>
	<%= render 'communities_grid_view', :communities => @communities %>
<% else %>
	<p>You are not part of any communities. See some nearby communities <%= link_to "here", nearby_communities_path %>.</p>
<% end %>