
<% if @cbo.confirmed_users.size > 0 %>
<p>Your organization currently has these members:</p>


<%= render 'users_memberships_table', :memberships => @confirmed_memberships %>


<%end %>

<% if @cbo.approved_users.size > 0 %>
<p>The following members need to be confirmed:</p>

<%= render 'users_memberships_table', :memberships => @approved_memberships %>

<% end %>

<% if @cbo.rejected_users.size > 0 %>
<p>The following members have been rejected:</p>

<%= render 'users_memberships_table', :memberships => @rejected_memberships %>

<% end %>

