
<% if @cbo.confirmed_users.size > 0 %>
<p>Your organization currently has these members:</p>


<%= render 'confirmed_users_table', :cbo => @cbo %>


<%end %>

<% if @cbo.pending_users.size > 0 %>
<p>The following members need to be confirmed:</p>

<%= render 'pending_users_table', :cbo => @cbo %>

<% end %>

