<h1>All CBOs</h1>


<table>
	<thead>
		<tr>
			<th>Name</th>
		</tr>
	</thead>
	<tbody>
	<% @cbos.each do |cbo| %>
		<tr>
			<td><%= link_to cbo.name, cbo %></td>
		</tr>
	<% end %>
	</tbody>
</table>

