<div class="page-header">
	<h1>My CBOs</h1>
</div>

<%= render 'cbos_grid_view', :cbos => @cbos %>






<% if current_user.subscribed_cbos.empty? %>
	<p>You are subscribed to any CBOs. See some nearby CBOs <%= link_to "here", nearby_cbos_path %>.</p>
<% end %>



